
@media only screen and (max-width:320px){

.myContainer{
    margin-right: 0;
    margin-left: 0;
}

    /*  BOTTOM NAVBAR css  */
#bottomNavbar{

    display: block;
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 0.2em solid #0084B4;
}

.barElement{
    display: inline-block;
    height: 2em;
    width: 17%;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.iconDiv{
    display: block;
    width: 100%;
    height: 100%;
}

.textDiv{
    display: none;
}

#myIcon{
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding-top: 0.1em;
    color: #7e7e7e;
}


a{
    text-decoration: none;
    color: #0084B4;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}


 /*  TOP-NAVBAR css */
.topNavbar{
    display: block;
    height: 6%;
    width: 100%;
    max-height: 2.4em;
}

.firstRow{
    display: block;
    width: 100%;
    height:20%;
}

.secondRow{
    display: block;
    width: 100%;
    height: 80%;
    border:1px solid blue;
    background-color: #0084B4;
}

.emptyDiv{
    display: inline-block;
    min-width: 90%;
    height: 100%;
}

.contentDiv{
    display: inline-block;
    width: 8%;
    height: 100%;
}

#topIcon{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    color: black;
    text-align: right;

}
/*   END TOP-NAVBAR  */

/*   SEARCH CONTENT    */
.centralContent{
    display: block;
    /*   25% a noticePanel --> da sistemare nel js               height: 125%; */
    height: 80%;
    width: 100%;
    border:0.1em solid green;
    margin-top: 0.3em;
    }

.newDiv{
    display: block;
    width: 100%;
    height: 8%;
}

#newLink{
    display: block;
    text-align: left;
    float: left;
    font-size: 0.9em;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.noticeList{
    display: none;
    width: 100%;
    height: 90%;
}

.noticePanel{
    display: block;
    height: 4em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.6em;
    border: 2px solid #0084B4;
    background-color: #e4e4e4;
}

.noticeHeader{
    display: block;
    height: 70%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-size: 1em;
    font-weight: bold;
    padding-top:0.4em;
}

.noticeModify{
    display: block;
    height: 25%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

}



@media only screen and (min-width : 320px) and (max-width : 600px) {

.myContainer{
    margin-right: 0;
    margin-left: 0;
}
    /*  BOTTOM NAVBAR css  */
#bottomNavbar{

    display: block;
    width: 100%;
    height: 9%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 0.2em solid #0084B4;
    background-color: lightgray;
}

.barElement{
    display: inline-block;
    height: 3em;
    width: 18%;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.iconDiv{
    display: block;
    width: 100%;
    height: 65%;
}

.textDiv{
    display: block;
    width: 100%;
    height: 30%;
}

#myIcon{
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding-top: 0.1em;
    color: #7e7e7e;
}

.myText{
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 0.2em;
    color: #7e7e7e;
}

a{
    text-decoration: none;
    color: #0084B4;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}
/*  END BOTTOM-NAVBAR */


    /*  TOP-NAVBAR css */
.topNavbar{
    display: block;
    height: 7%;
    width: 100%;
    max-height: 2.4em;
}

.firstRow{
    display: block;
    width: 100%;
    height:20%;
}

.secondRow{
    display: block;
    width: 100%;
    height: 75%;
    border:1px solid blue;
    background-color: #0084B4;
}

.emptyDiv{
    display: inline-block;
    min-width: 90%;
    height: 100%;
}

.contentDiv{
    display: inline-block;
    width: 8%;
    height: 100%;
}

#topIcon{
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    color: black;
    text-align: right;

}
/*   END TOP-NAVBAR  */

/*   SEARCH CONTENT    */
.centralContent{
    display: block;
    height: 80%;
    width: 100%;
    :border:0.1em solid green;
    margin-top: 0.3em;
    }

.backDiv{
    display: block;
    width: 100%;
    height: 8%;
}

.noticeInformation{
    display: block;
    width: 100%;
    height: 90%;
}

.intro{
    display: block;
    width: 100%;
    height: 20%;
    background-color: beige;
}

.list{
    display: block;
    width: 100%;
    height: 70%;
    margin-top: 1em;
}

.confirm{
    display: block;
    width: 100%;
    height: 10%;
}

.introPicture{
    display: inline-block;
    height: 100%;
    width: 25%;
}

.introName{
    display: inline-block;
    height: 15%;
    width: 70%;
    position: absolute;
    padding-left: 0.5em;
}

#introIcon{
    height: 5em;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.nameDiv, .selectDiv{
    display: block;
    padding-top: 0.5em;
}

.select1{
    display: inline-block;
    width: 35%;
    height: auto;
}
.select2{
    display: inline-block;
    width: 60%;
    height: auto;
}

#noticeName{
    height:auto;
    width: 95%;

}

/*.oddDiv{
    display: block;
    width: 100%;
    height: 2em;
    background-color: #d3d3d3;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 0.2em;
}

.evenDiv{
    display: block;
    width: 100%;
    height: 2em;
    background-color:#ececec;
}*/

.listMenu{
    display: block;
    height: 3em;
    width: 100%;
}

.listContent{
    display: block;
    height: 80%;
    width: 100%;
    background-color: beige;
}

#ulMenu{
    height: 100%;
    width: auto;
}

.liMenu{
    display: inline-block;
    height: 100%;
    width: 25%;
}

.linkMenu{
    font-size: 0.9em;
    font-weight: bold;
}

    /*  TAB COSA   */
.infoRow{
    height: 20%;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
}

.infoRow>p{
    display: inline-block;
    width: 40%;
    font-size: 0.9em;
}

.infoRow>input{
    display: inline-block;
    width: 20%;
    height: 1.5em;
}

.descriptionRow{
    display: block;
    height: 60%;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
}

.infoText{
    font-size: 0.9em;
}
    /*  END TAB INFO (COSA)   */

/*  TAB DOVE   */

.positionRow{
    height: 20%;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
}

.positionRow>p{
    display: inline-block;
    width: 10%;
    font-size: 0.9em;
}

.positionRow>input{
    display: inline-block;
    width: 70%;
    height: 1.5em;
}

.transportRow{
    height: 70%;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
}

.transportRow>p{
    font-size: 0.9em;
}

/*  END TAB DOVE   */


/*  START TAB QUANTO   */
.priceRow{
    height: 20%;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
}

.priceRow>p{
    display: inline-block;
    width: 40%;
    font-size: 0.9em;
}

.priceRow>input{
    display: inline-block;
    width: 30%;
    height: 1.5em;
}

.priceDetailRow{
    height: 70%;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
}

.priceDetailRow>p{
    font-size: 0.9em;
}
}

/*  END TAB QUANTO   */


/*  START TAB FOTO   */



.emptyPhotoDiv{
    display: block;
    width: 100%;
    height: 15%;
}

.emptyPhotoDiv>p{
    text-align: center;
    font-size: 0.9em;
    padding-top: 0.4em;
}

table{
    width: 100%;
    height: 70%;
}

tr{
    width: 5em;
    height: 2em;
}

td{
    width: 2em;
    height: 2em;
    border: 1px solid black;
}

td>a{
    display: block;
    text-align: center;
    font-size: 2em;
}

.picture{
    display: none;
}

.tdNotVisible{
     border-color: beige;
}

/*  END TAB FOTO   */



#addNoticeButton{
    float: right;
    background-color: #0084B4;
    font-size: 0.8em;
}

.rightField{
    color: green;
}

}


@media only screen and (min-width:600px){


.myContainer{
    margin-right: 0;
    margin-left: 0;
}
    /*  BOTTOM NAVBAR css  */
#bottomNavbar{

    display: block;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 0.2em solid #0084B4;

}

.barElement{
    display: inline-block;
    height: 3em;
    width: 18%;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.iconDiv{
    display: block;
    width: 100%;
    height: 65%;
}

.textDiv{
    display: block;
    width: 100%;
    height: 30%;
}

#myIcon{
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding-top: 0.1em;
    color: #7e7e7e;
}

.myText{
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 0.2em;
    color: #7e7e7e;
}

a{
    text-decoration: none;
    color: #0084B4;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}
/*  END BOTTOM-NAVBAR */


    /*  TOP-NAVBAR css */
.topNavbar{
    display: block;
    height: 7%;
    width: 100%;
    max-height: 2.4em;
}

.firstRow{
    display: block;
    width: 100%;
    height:20%;
}

.secondRow{
    display: block;
    width: 100%;
    height: 75%;
    border:1px solid blue;
    background-color: #0084B4;
}

.emptyDiv{
    display: inline-block;
    min-width: 90%;
    height: 100%;
}

.contentDiv{
    display: inline-block;
    width: 8%;
    height: 100%;
}

#topIcon{
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    color: black;
    text-align: right;

}
/*   END TOP-NAVBAR  */

/*   SEARCH CONTENT    */
.centralContent{
    display: block;
    height: 80%;
    width: 100%;
    border:0.1em solid green;
    margin-top: 0.3em;
}

.myText{
    color:red;
}


}

