@media only screen and (max-width:320px){

.myContainer{
    margin-right: 0;
    margin-left: 0;
}

    /*  BOTTOM NAVBAR css  */
#bottomNavbar{

    display: block;
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 0.2em solid #0084B4;
}

.barElement{
    display: inline-block;
    height: 2em;
    width: 17%;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.iconDiv{
    display: block;
    width: 100%;
    height: 100%;
}

.textDiv{
    display: none;
}

#myIcon{
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding-top: 0.1em;
    color: #7e7e7e;
}


a{
    text-decoration: none;
    color: #0084B4;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}


 /*  TOP-NAVBAR css */
.topNavbar{
    display: block;
    height: 6%;
    width: 100%;
    max-height: 2.4em;
}

.firstRow{
    display: block;
    width: 100%;
    height:20%;
}

.secondRow{
    display: block;
    width: 100%;
    height: 80%;
    border:1px solid blue;
    background-color: #0084B4;
}

.emptyDiv{
    display: inline-block;
    min-width: 90%;
    height: 100%;
}

.contentDiv{
    display: inline-block;
    width: 8%;
    height: 100%;
}

#topIcon{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    color: black;
    text-align: right;

}
/*   END TOP-NAVBAR  */

/*   SEARCH CONTENT    */
.centralContent{
    display: block;
    height: 85%;
    width: 100%;
    margin-top: 0.3em;
    }

}


@media only screen and (min-width : 320px) and (max-width : 600px) {

.myContainer{
    margin-right: 0;
    margin-left: 0;
}
    /*  BOTTOM NAVBAR css  */
#bottomNavbar{
    display: block;
    width: 100%;
    height: 3em;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 0.2em solid #0084B4;
    background-color: lightgray;
}

#duplicatedBottomNavbar{
    display: none;
    width: 100%;
    height: 3em;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 0.2em solid #0084B4;
    background-color: lightgray;
    :opacity: 0.5;
}

.barElement{
    display: inline-block;
    height: 3em;
    width: 18%;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.iconDiv{
    display: block;
    width: 100%;
    height: 65%;
}

.textDiv{
    display: block;
    width: 100%;
    height: 30%;
}

#myIcon{
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding-top: 0.1em;
    color: #7e7e7e;
}

.myText{
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 0.2em;
    color: #7e7e7e;
}

a{
    text-decoration: none;
    color: #0084B4;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}
/*  END BOTTOM-NAVBAR */


    /*  TOP-NAVBAR css */
.topNavbar{
    display: block;
    height: 2em;
    width: 100%;
    max-height: 2.4em;
}

.firstRow{
    display: block;
    width: 100%;
    height:0.5em;
}

.secondRow{
    display: block;
    width: 100%;
    height: 1.5em;
    border:1px solid blue;
    background-color: #0084B4;
}

.emptyDiv{
    display: inline-block;
    min-width: 90%;
    height: 100%;
}

.contentDiv{
    display: inline-block;
    width: 8%;
    height: 100%;
}

#topIcon{
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    color: black;
    text-align: right;
}

/*   END TOP-NAVBAR  */


/*   SEARCH CONTENT    */
.totalContainer{
    display: block;
    height: 85%;
    width: 200%;
    position: absolute;
}

.centralContent{
    display: block;
    float: left;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    :background-color:beige;
    margin-top: 0.3em;
}

.settingMenu{
    display: block;
    float: left;
    height: 120%;
    width: 45%;
    background-color: #bdbdbd;
    position: relative;
    left: 50%;
    margin-top: 0.3em;
}



.settingOption{
    display: inline-block;
    height: auto;
    width: 32%;
    :border: 1px solid black;
}

.childDati, .childImpostazioni, .childLingua, .childInfo{
    display: none;
    height: 100%;
    width: 60%;
    background-color: #bdbdbd;
    position: absolute;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.settingList{
    display: block;
    height: 10%;
    width: 100%;
    border-top: 2px solid red;
    margin-top: 0.3em;
}



.settingList>h6{
    padding-left: 0.2em;
}

.settingList:last-child{
    border-bottom: 2px solid red;
}

.settingListBolder{
    background-color: dimgray;
    font-weight: bolder;
}

.childRow{
    display: block;
    width: 90%;
    height: 2em;
    border-top: 2px solid black;

}


.childRow>p{
    width: 12em;
    height: 1.5em;
    padding-left: 0.5em;
    padding-top: 0.7em;
    font-size: 0.8em;

}


#emailDiv{
    height: 4em;
}

.infoDiv{
    display:block;
    height: auto;
    width: 85%;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-left: 0.2em;
}

.lastRow{
    border-bottom: 2px solid black;
}

html, body {
  overflow: hidden;
}
body {
  position: relative
}


}


@media only screen and (min-width:600px){


.myContainer{
    margin-right: 0;
    margin-left: 0;
}
    /*  BOTTOM NAVBAR css  */
#bottomNavbar{

    display: block;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 0.2em solid #0084B4;

}

.barElement{
    display: inline-block;
    height: 3em;
    width: 18%;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.iconDiv{
    display: block;
    width: 100%;
    height: 65%;
}

.textDiv{
    display: block;
    width: 100%;
    height: 30%;
}

#myIcon{
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding-top: 0.1em;
    color: #7e7e7e;
}

.myText{
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 0.2em;
    color: #7e7e7e;
}

a{
    text-decoration: none;
    color: #0084B4;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}
/*  END BOTTOM-NAVBAR */


    /*  TOP-NAVBAR css */
.topNavbar{
    display: block;
    height: 7%;
    width: 100%;
    max-height: 2.4em;
}

.firstRow{
    display: block;
    width: 100%;
    height:20%;
}

.secondRow{
    display: block;
    width: 100%;
    height: 75%;
    border:1px solid blue;
    background-color: #0084B4;
}

.emptyDiv{
    display: inline-block;
    min-width: 90%;
    height: 100%;
}

.contentDiv{
    display: inline-block;
    width: 8%;
    height: 100%;
}

#topIcon{
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    color: black;
    text-align: right;

}
/*   END TOP-NAVBAR  */

/*   SEARCH CONTENT    */
.centralContent{
    display: block;
    height: 80%;
    width: 100%;
    margin-top: 0.3em;
}

.myText{
    color:red;
}


}

