
@media only screen and (min-width : 320px) and (max-width : 600px){

.preferRow{
    display: block;
    width: 96%;
    height: 7em;
    background-color: #d8d8d8;
    border: 0.25em solid black;
    margin-top: 1em;
    margin-left: 0.1em;
}

.a{
    display: block;
    height: 7em;
    width: 100%;
}

.b{
    display: none;
    height: 1px;
    width: 100%;
    background-color: beige;
    padding-top: 0.3em;
    position: relative;
}

.preferRow:last-child{
    margin-bottom: 2em;
}

#preferPageTitle{
    text-align: center;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.2em;
}
.centralContent{
    overflow-y:scroll;
}

.preferImage{
    display: inline-block;
    height: auto;
    width: 20%;
}

.noticeImage{
    max-height: 90%;
    max-width: 90%;
}
.preferText{
    display: inline-block;
    height: 95%;
    width: 78%;
}

.nameText{
    display: block;
    height: 60%;
    width: auto;
    margin-top: 0;
}

.detailText{
    display: block;
    height: 35%;
    width: auto;
}

.nameTitle{
    padding-left: 0.4em;
    padding-top: 0.4em;
    padding-right: 0.2em;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
}

.detailTitle{
    display: inline-block;
    width: 80%;
    height: auto;
    padding-left: 0.4em;
    padding-top: 0.2em;
    margin-bottom: 0;
    font-size: 0.9em;
    font-style: italic;
}

.priceTitle{
    display: inline-block;
    width: 18%;
    height: 90%;
    font-size: 1em;
    font-weight: bold;
    background-color: #00b200;
    text-align: center;
    line-height: 2em;
}



.b1{
    display: block;
    height: 85%;
    width: 100%;
}

.b2{
    display: block;
    height: 15%;
    width: 100%;
}

.b1a{
    display: inline-block;
    height: auto;
    width: 48%;
    position: absolute;
}

.b1b{
    display: inline-block;
    height: auto;
    width: 50%;
    position: absolute;
    margin-left: 50%;
}

ul{
    padding-left: 1.4em;
}

li{
    width: 90%;
    font-size: 0.8em;
    padding-top:0.2em;
    :line-height: 0.9em;

}

.listHeader{
    text-decoration: underline;
    font-weight: bold;
}

#closeButton{
    height: 100%;
    font-size: 0.8em;
    float: left;
    margin-left: 0.2em;
}

#contactButton{
    font-size: 0.8em;
    float: right;
    margin-right: 0.2em;
}

.divNotClickable{
    pointer-events: none;
}

}
