
@media only screen and (min-width : 320px) and (max-width : 600px){

.preferRow{
    display: block;
    width: 96%;
    height: 6em;
    background-color: #b9cbf0;
    border: 0.1em solid black;
    margin-top: 0.5em;
    margin-left: 0.1em;
}

.preferRow:last-child{
    background-color: green;
    margin-bottom: 2em;
}

#preferPageTitle{
    text-align: center;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.2em;
}
.centralContent{
    overflow-y:scroll;
}

.preferImage{
    display: inline-block;
    height: auto;
    width: 20%;
}

.noticeImage{
    height: 4em;
    width: 4em;
}
.preferText{
    display: inline-block;
    height: 95%;
    width: 78%;
}

.nameText{
    display: block;
    height: 70%;
    width: auto;
    margin-top: 0;
}

.detailText{
    display: block;
    height: 25%;
    width: auto;
}

.nameTitle{
    padding-left: 0.4em;
    padding-top: 0.4em;
    padding-right: 0.2em;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
}

.detailTitle{
    display: inline-block;
    width: 80%;
    height: auto;
    padding-left: 0.4em;
    padding-top: 0.2em;
    margin-bottom: 0;
    font-size: 0.9em;
    font-style: italic;
}

.priceTitle{
    display: inline-block;
    width: 18%;
    height: 2em;
    font-size: 1em;
    font-weight: bold;
    background-color: #00b200;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
}

}
