
@media only screen and (min-width : 320px) and (max-width : 600px){

.centralContent{
    overflow-y: hidden;
    overflow-x: hidden;
}

.newsDiv{
    display: block;
    background-color: lightgray;
    width: 100%;
    height: 40%;
    border-bottom: 0.2em solid black;


}

.yourResearchDiv{
    display: block;
    background-color: green;
    width: 100%;
    height: 25%;
    margin-top: 5%;
    border-bottom: 0.2em solid black;

}

.mostViewedDiv{
    display: block;
    background-color: orange;
    width: 100%;
    height: 25%;
    margin-top: 5%;
    border-bottom: 0.2em solid black;

}


/* START DIV */

.newsTitleDiv{
    display: block;
    width: 100%;
    height: 15%;
    text-align: center;
}

.newsContentDiv{
    display: block;
    width: 100%;
    height: 85%;
}

.newsOne{
    display: block;
    width: 100%;
    height: 65%;
}

.newsTwo{
    display: block;
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

.newsTitleText{
    font-size: 1.3em;

}

.newsPhotoDiv{
    display: inline-block;
    height: 100%;
    width: 45%;
}

.newsTextDiv{
    display: inline-block;
    height: 100%;
    width: 50%;
    vertical-align: top;

}
.newsPhoto{
    width: 100%;
    height: 100%;
    margin:auto;
    border-radius: 10em;
}

.newsPrice{
    margin: 0;
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    background-color: forestgreen;
    line-height: 1.5em;
}

.newsInfo{
    height: 50%;
    width: 100%;
    padding-left: 1em;
    margin-top: 3%;
    background-color: red;
}

.newsDescriptionText{
    height: 100%;
    width: 100%;
    :background-color: royalblue;
    padding-left: 1em;
    padding-right: 1em;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9em;
}

}
