
@media only screen and (min-width : 320px) and (max-width : 600px){

.centralContent{
    overflow-y: scroll;
}
.pageTitleDiv{
    display: block;
    width: 100%;
    height: 15%;
    border-bottom: 0.2em solid black;
}

.mostViewed{
    display: block;
    width: 90%;
    height: 35%;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 0.5em;
    border: 0.3em solid #0084B4;
}

.yourResearch{
    display: block;
    width: 90%;
    height: 30%;
    background-color: #e5e5e5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 0.5em;
}

.latestNotice{
    display: block;
    width: 100%;
    height: 30%;
    background-color: #d8d8d8;
    margin-bottom: 2em;
}

/*  START TITLE */

.myTitle{
    display: block;
    width: 100%;
    height: 40%;
    background-color: #e5e5e5;
}

.mySubtitle{
    display: block;
    width: 100%;
    height: 60%;
    background-color: #e5e5e5;
    line-height: 2em;

}

#pageTitle{
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: bold;
    font-family: cursive;
    margin: 0;
}

#pageSubtitle{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    font-style: italic;
    padding-top: 0.5em;
}

#subtitleIcon{
    color: #0084B4;
}
/*  END TITLE    */

/* START MOSTVIEWED */
.mostViewedTitleDiv{
    display: block;
    width: 100%;
    height: 25%;
    background-color: #d8d8d8;
}

.mostViewedContentDiv{
    display: block;
    width: 100%;
    height: 73%;
    background-color: #e5e5e5;
    border-top: 1px solid black;
}

.mostViewedTitle{
    height: 100%;
    width: 40%;
    float: left;
    font-size: 140%;
    color: black;
    padding-left: 0.5em;
    padding-top: 0.3em;
    font-family: fantasy;
    margin: 0;
}

.mostViewedSeeAll{
    height: 100%;
    width: 20%;
    float: right;
    font-size: 0.8em;
    padding-top: 1em;
    padding-right: 0.2em;
    margin: 0;
}

.changeLeftDiv{
    display: inline-block;
    height: 100%;
    width: 8%;
    float: left;
    background-color: gray;
    margin-top: 0.2em;
    border-right: 0.1em solid black;


}

.changeRightDiv{
    display: inline-block;
    height: 100%;
    width: 8%;
    float: right;
    background-color: gray;
    margin-top: 0.2em;
    border-left: 0.1em solid black;
}

.myContent{
    display: inline-block;
    height: 100%;
    width: 83%;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.2em;


}
}
