
@media only screen and (min-width : 320px) and (max-width : 600px) {

.searchBox{
    display: block;
    width: 90%;
    height: 30%;
    margin-left: 0.2em;
    border: 0.2em solid red;
}

#googleMap{
    display: block;
    width: 90%;
    height: 65%;
    margin-left: 0.2em;
    margin-top: 1em;
    border: 0.2em solid black;

}

.area, .zona{
    display: block;
    height: 48%;
    width: 100%;
}

.zonaText, .areaText{
    display: inline-block;
    height: 100%;
    width: 25%;
    margin-left: 0.4em;
    margin-top: 0.4em;
}
.zonaOption, .areaOption{
    display: inline-block;
    height: 100%;
    width: 70%;
    margin-left: 0.2em;
}

select{
    width: 80%;
}

}
